apiVersion: batch/v1
kind: Job
metadata:
  name: frontend-migration
  namespace: retail-decomposed
spec:
  template:
    spec:
      serviceAccountName: retail-decomposed-sa
      containers:
      - name: migration
        image: acrretaildecomposed.azurecr.io/retail-decomposed-frontend:latest
        command: ["dotnet", "ef", "migrations", "add", "AddDataProtectionKeys"]
        envFrom:
        - configMapRef:
            name: retail-decomposed-config
        - secretRef:
            name: retail-decomposed-secrets
      restartPolicy: Never
  backoffLimit: 3
